<div *ngFor="let result of getResults">
    <div
      class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
    >
      <div class="col-auto d-none d-lg-block">
        <img [src]="result.postImage" alt="Immagine del post" width="200" height="250">
      </div>
      <div class="col p-4 d-flex flex-column position-static">
        <h3 class="mb-0">{{result.title}}</h3>
        <div class="mb-1 text-muted">pubblicato il: {{result.publishDate}}</div>
        <p class="card-text mb-auto">prezzo di partenza: <strong>{{result.startingPrice}} €</strong></p>
      </div>
    </div>
</div>
